.error {
    border:solid 5px red;
    padding:5px;
    text-align:center;
}
body {
    background-image: url('images/gtr.webp');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 150vh;
}
p {
    float: right;
    color: white;
    padding: 25px;
    margin: 25px;
    font: 100px;
    font-weight: bold;

.flex-container {
    flex-wrap: wrap;
}
.important {
    color: azure;
    font-size: 35px;
    text-align: left;
    overflow: visible;
    overflow-y: visible;
    float: right;
}
ul {
    color: whitesmoke;
    border: 7px solid white;
}
    
    
    
    
